.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.whats-icon-mobile {
  display: flex;
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 50;
  border-radius: 50%;
  padding: 20px;
  background-color: #0dc94f;
  cursor: pointer;
  max-width: 87px;
}
