<section class="m-section">
  <div class="container">
    <div class="content">
      <!-- <div class="info">
        <p>{{"BANNER.TITLE" | translate }}</p>
      </div> -->
      <div class="title">
        <p class="title-banner">Cambiando tu idea de lo que pueden hacer los robots</p>
        <div class="subtitle">
          <p>Explore soluciones robóticas innovadoras y prácticas, diseñadas para enfrentar los desafíos más complejos de la automatización actual y futura. Integre sistemas digitales avanzados y aplicaciones de última generación para transformar sus procesos.</p>
        </div>
      </div>

      <div class="buttons">
        <button class="btn-primary" (click)="goTo('cattle-classes', $event)">Contacto</button>

      </div>
    </div>
  </div>
</section>
