section {
  background-color: var(--primary);
  padding: 64px 0px 90px 0px;
  @media (min-width: 575px) {
    padding: 64px 0px 60px 0px;
  }
  .container {
    .content {
      width: 100%;
      display: grid;
      gap: 30px;
      grid-template-columns: repeat(1, 1fr);
      @media (min-width: 575px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (min-width: 991px) {
        grid-template-columns: repeat(3, 1fr);
        gap: 70px;
      }
      @media (min-width: 1200px) {
        grid-template-columns: repeat(4, 1fr);
      }
      .logo {
        min-width: 132px;
      }
      .row {
        display: flex;
        flex-direction: column;
        gap: 11px;
        .title {
          p {
            color: var(--blue);
            text-transform: uppercase;
          }
        }
        .lists {
          display: flex;
          flex-direction: row;
          gap: 30px;
        }
        .list {
          display: flex;
          flex-direction: column;
          gap: 10px;
          a,
          p {
            font-weight: 300;
            color: white;
            width: fit-content;
            height: fit-content;
            text-transform: uppercase;
          }
        }
        .as {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 18px;
          a {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}
