<section class="m-section">
  <div class="container">
    <div class="content">
      <div class="logo">
        <img src="/assets/images/logos/logo2.png" alt="Logotipo Zammna13">
      </div>
      <div class="row">
        <div class="title">
          <p class="text">INFORMACIÓN</p>
        </div>
        <div class="list">
          <a routerLink="/information/privacy" (click)="goTo('info')">CONDICIONES DE SERVICIO</a>
          <a routerLink="/information/termins" (click)="goTo('info')">POLÍTICA DE PRIVACIDAD</a>
        </div>
      </div>
      <div class="row">
        <div class="title">
          <p class="text">REDES SOCIALES</p>
        </div>
        <div class="as">
          <a href="" target="_blank">
            <i class="pi pi-facebook" style="font-size: 23px; color: white;"></i>
          </a>
          <a href="" target="_blank">
            <i class="pi pi-instagram" style="font-size: 23px; color: white;"></i>
          </a>
        </div>

      </div>
      <div class="row">
        <div class="title">
          <p class="text">CONTACTO</p>
        </div>
        <div class="as">
          <a href="" target="_blank">
            <i class="pi pi-whatsapp" style="font-size: 22px; color: #fff;"></i>
          </a>
          <a href="">
            <i class="pi pi-phone" style="font-size: 22px; color: #fff;"></i>
          </a>
        </div>

      </div>
    </div>
  </div>
</section>
